--
-- PostgreSQL database dump
--

-- Dumped from database version 15.2
-- Dumped by pg_dump version 15.2

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

--
-- Name: ctrm; Type: SCHEMA; Schema: -; Owner: postgres
--

CREATE SCHEMA ctrm;


ALTER SCHEMA ctrm OWNER TO postgres;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: approval_routing; Type: TABLE; Schema: ctrm; Owner: ctrm_user
--

CREATE TABLE ctrm.approval_routing (
    routing_id bigint NOT NULL,
    approval_level integer,
    approval_role character varying(255),
    rule_id bigint
);


ALTER TABLE ctrm.approval_routing OWNER TO ctrm_user;

--
-- Name: approval_routing_routing_id_seq; Type: SEQUENCE; Schema: ctrm; Owner: ctrm_user
--

CREATE SEQUENCE ctrm.approval_routing_routing_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE ctrm.approval_routing_routing_id_seq OWNER TO ctrm_user;

--
-- Name: approval_routing_routing_id_seq; Type: SEQUENCE OWNED BY; Schema: ctrm; Owner: ctrm_user
--

ALTER SEQUENCE ctrm.approval_routing_routing_id_seq OWNED BY ctrm.approval_routing.routing_id;


--
-- Name: approval_rule; Type: TABLE; Schema: ctrm; Owner: ctrm_user
--

CREATE TABLE ctrm.approval_rule (
    rule_id bigint NOT NULL,
    active boolean,
    parent_rule_id bigint,
    priority integer,
    rule_name character varying(255),
    status character varying(255),
    trigger_event character varying(255),
    version integer
);


ALTER TABLE ctrm.approval_rule OWNER TO ctrm_user;

--
-- Name: approval_rule_condition; Type: TABLE; Schema: ctrm; Owner: ctrm_user
--

CREATE TABLE ctrm.approval_rule_condition (
    condition_id bigint NOT NULL,
    field_code character varying(255),
    operator character varying(255),
    value1 character varying(255),
    rule_id bigint
);


ALTER TABLE ctrm.approval_rule_condition OWNER TO ctrm_user;

--
-- Name: approval_rule_condition_condition_id_seq; Type: SEQUENCE; Schema: ctrm; Owner: ctrm_user
--

CREATE SEQUENCE ctrm.approval_rule_condition_condition_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE ctrm.approval_rule_condition_condition_id_seq OWNER TO ctrm_user;

--
-- Name: approval_rule_condition_condition_id_seq; Type: SEQUENCE OWNED BY; Schema: ctrm; Owner: ctrm_user
--

ALTER SEQUENCE ctrm.approval_rule_condition_condition_id_seq OWNED BY ctrm.approval_rule_condition.condition_id;


--
-- Name: approval_rule_rule_id_seq; Type: SEQUENCE; Schema: ctrm; Owner: ctrm_user
--

CREATE SEQUENCE ctrm.approval_rule_rule_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE ctrm.approval_rule_rule_id_seq OWNER TO ctrm_user;

--
-- Name: approval_rule_rule_id_seq; Type: SEQUENCE OWNED BY; Schema: ctrm; Owner: ctrm_user
--

ALTER SEQUENCE ctrm.approval_rule_rule_id_seq OWNED BY ctrm.approval_rule.rule_id;


--
-- Name: approval_task; Type: TABLE; Schema: ctrm; Owner: ctrm_user
--

CREATE TABLE ctrm.approval_task (
    task_id bigint NOT NULL,
    completed_at timestamp(6) without time zone,
    created_at timestamp(6) without time zone,
    current_approval_level integer,
    current_approval_role character varying(255),
    rule_id bigint,
    status character varying(255),
    trade_id character varying(255),
    trigger_event character varying(255)
);


ALTER TABLE ctrm.approval_task OWNER TO ctrm_user;

--
-- Name: approval_task_task_id_seq; Type: SEQUENCE; Schema: ctrm; Owner: ctrm_user
--

CREATE SEQUENCE ctrm.approval_task_task_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE ctrm.approval_task_task_id_seq OWNER TO ctrm_user;

--
-- Name: approval_task_task_id_seq; Type: SEQUENCE OWNED BY; Schema: ctrm; Owner: ctrm_user
--

ALTER SEQUENCE ctrm.approval_task_task_id_seq OWNED BY ctrm.approval_task.task_id;


--
-- Name: commodity; Type: TABLE; Schema: ctrm; Owner: ctrm_user
--

CREATE TABLE ctrm.commodity (
    id bigint NOT NULL,
    name character varying(255) NOT NULL
);


ALTER TABLE ctrm.commodity OWNER TO ctrm_user;

--
-- Name: commodity_id_seq; Type: SEQUENCE; Schema: ctrm; Owner: ctrm_user
--

CREATE SEQUENCE ctrm.commodity_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE ctrm.commodity_id_seq OWNER TO ctrm_user;

--
-- Name: commodity_id_seq; Type: SEQUENCE OWNED BY; Schema: ctrm; Owner: ctrm_user
--

ALTER SEQUENCE ctrm.commodity_id_seq OWNED BY ctrm.commodity.id;


--
-- Name: commodity_option_instrument; Type: TABLE; Schema: ctrm; Owner: ctrm_user
--

CREATE TABLE ctrm.commodity_option_instrument (
    expiry_date date,
    option_type character varying(255),
    strike_price numeric(38,2),
    id bigint NOT NULL
);


ALTER TABLE ctrm.commodity_option_instrument OWNER TO ctrm_user;

--
-- Name: commodity_swap_instrument; Type: TABLE; Schema: ctrm; Owner: ctrm_user
--

CREATE TABLE ctrm.commodity_swap_instrument (
    end_date date,
    fixed_price numeric(38,2),
    floating_price_index character varying(255),
    start_date date,
    id bigint NOT NULL
);


ALTER TABLE ctrm.commodity_swap_instrument OWNER TO ctrm_user;

--
-- Name: counterparties; Type: TABLE; Schema: ctrm; Owner: ctrm_user
--

CREATE TABLE ctrm.counterparties (
    id bigint NOT NULL,
    active boolean,
    country character varying(255),
    credit_rating character varying(255),
    name character varying(255) NOT NULL
);


ALTER TABLE ctrm.counterparties OWNER TO ctrm_user;

--
-- Name: counterparties_id_seq; Type: SEQUENCE; Schema: ctrm; Owner: ctrm_user
--

CREATE SEQUENCE ctrm.counterparties_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE ctrm.counterparties_id_seq OWNER TO ctrm_user;

--
-- Name: counterparties_id_seq; Type: SEQUENCE OWNED BY; Schema: ctrm; Owner: ctrm_user
--

ALTER SEQUENCE ctrm.counterparties_id_seq OWNED BY ctrm.counterparties.id;


--
-- Name: credit_limit; Type: TABLE; Schema: ctrm; Owner: ctrm_user
--

CREATE TABLE ctrm.credit_limit (
    id bigint NOT NULL,
    counterparty character varying(255),
    limit_amount numeric(38,2)
);


ALTER TABLE ctrm.credit_limit OWNER TO ctrm_user;

--
-- Name: credit_limit_seq; Type: SEQUENCE; Schema: ctrm; Owner: ctrm_user
--

CREATE SEQUENCE ctrm.credit_limit_seq
    START WITH 1
    INCREMENT BY 50
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE ctrm.credit_limit_seq OWNER TO ctrm_user;

--
-- Name: deal_templates; Type: TABLE; Schema: ctrm; Owner: ctrm_user
--

CREATE TABLE ctrm.deal_templates (
    id bigint NOT NULL,
    auto_approval_allowed boolean NOT NULL,
    commodity character varying(255),
    currency character varying(255),
    default_price numeric(38,2),
    default_quantity numeric(38,2),
    instrument_type character varying(255),
    mtm_approval_threshold numeric(38,2),
    pricing_model character varying(255),
    template_name character varying(255) NOT NULL,
    unit character varying(255),
    instrument_id bigint NOT NULL
);


ALTER TABLE ctrm.deal_templates OWNER TO ctrm_user;

--
-- Name: deal_templates_id_seq; Type: SEQUENCE; Schema: ctrm; Owner: ctrm_user
--

CREATE SEQUENCE ctrm.deal_templates_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE ctrm.deal_templates_id_seq OWNER TO ctrm_user;

--
-- Name: deal_templates_id_seq; Type: SEQUENCE OWNED BY; Schema: ctrm; Owner: ctrm_user
--

ALTER SEQUENCE ctrm.deal_templates_id_seq OWNED BY ctrm.deal_templates.id;


--
-- Name: forward_curve; Type: TABLE; Schema: ctrm; Owner: ctrm_user
--

CREATE TABLE ctrm.forward_curve (
    id bigint NOT NULL,
    curve_date date,
    delivery_date date NOT NULL,
    price double precision NOT NULL,
    instrument_id bigint NOT NULL
);


ALTER TABLE ctrm.forward_curve OWNER TO ctrm_user;

--
-- Name: forward_curve_id_seq; Type: SEQUENCE; Schema: ctrm; Owner: ctrm_user
--

CREATE SEQUENCE ctrm.forward_curve_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE ctrm.forward_curve_id_seq OWNER TO ctrm_user;

--
-- Name: forward_curve_id_seq; Type: SEQUENCE OWNED BY; Schema: ctrm; Owner: ctrm_user
--

ALTER SEQUENCE ctrm.forward_curve_id_seq OWNED BY ctrm.forward_curve.id;


--
-- Name: gas_forward_instrument; Type: TABLE; Schema: ctrm; Owner: ctrm_user
--

CREATE TABLE ctrm.gas_forward_instrument (
    delivery_date date,
    id bigint NOT NULL
);


ALTER TABLE ctrm.gas_forward_instrument OWNER TO ctrm_user;

--
-- Name: generation_forecast; Type: TABLE; Schema: ctrm; Owner: ctrm_user
--

CREATE TABLE ctrm.generation_forecast (
    id bigint NOT NULL,
    date date,
    forecastmwh double precision,
    plant_name character varying(255)
);


ALTER TABLE ctrm.generation_forecast OWNER TO ctrm_user;

--
-- Name: generation_forecast_id_seq; Type: SEQUENCE; Schema: ctrm; Owner: ctrm_user
--

CREATE SEQUENCE ctrm.generation_forecast_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE ctrm.generation_forecast_id_seq OWNER TO ctrm_user;

--
-- Name: generation_forecast_id_seq; Type: SEQUENCE OWNED BY; Schema: ctrm; Owner: ctrm_user
--

ALTER SEQUENCE ctrm.generation_forecast_id_seq OWNED BY ctrm.generation_forecast.id;


--
-- Name: instruments; Type: TABLE; Schema: ctrm; Owner: ctrm_user
--

CREATE TABLE ctrm.instruments (
    id bigint NOT NULL,
    currency character varying(255),
    instrument_code character varying(255) NOT NULL,
    instrument_type character varying(255),
    unit character varying(255),
    commodity_id bigint,
    CONSTRAINT instruments_instrument_type_check CHECK (((instrument_type)::text = ANY ((ARRAY['POWER_FORWARD'::character varying, 'RENEWABLE_PPA'::character varying, 'GAS_FORWARD'::character varying, 'COMMODITY_SWAP'::character varying, 'OPTION'::character varying, 'FREIGHT'::character varying])::text[])))
);


ALTER TABLE ctrm.instruments OWNER TO ctrm_user;

--
-- Name: instruments_id_seq; Type: SEQUENCE; Schema: ctrm; Owner: ctrm_user
--

CREATE SEQUENCE ctrm.instruments_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE ctrm.instruments_id_seq OWNER TO ctrm_user;

--
-- Name: instruments_id_seq; Type: SEQUENCE OWNED BY; Schema: ctrm; Owner: ctrm_user
--

ALTER SEQUENCE ctrm.instruments_id_seq OWNED BY ctrm.instruments.id;


--
-- Name: lifecycle_rules; Type: TABLE; Schema: ctrm; Owner: ctrm_user
--

CREATE TABLE ctrm.lifecycle_rules (
    id bigint NOT NULL,
    approval_role character varying(255),
    auto_approve boolean NOT NULL,
    desk character varying(255) NOT NULL,
    effective_from date,
    effective_to date,
    enabled boolean NOT NULL,
    event character varying(255) NOT NULL,
    event_type character varying(255) NOT NULL,
    from_state character varying(255),
    from_status character varying(255) NOT NULL,
    max_occurrence integer NOT NULL,
    name character varying(255),
    production_enabled boolean NOT NULL,
    to_state character varying(255),
    to_status character varying(255) NOT NULL,
    version integer NOT NULL,
    CONSTRAINT lifecycle_rules_event_type_check CHECK (((event_type)::text = ANY ((ARRAY['CREATED'::character varying, 'AMENDED'::character varying, 'PRICED'::character varying, 'DELIVERED'::character varying, 'INVOICED'::character varying, 'SETTLED'::character varying, 'CANCELLED'::character varying, 'REJECTED'::character varying, 'APPROVED'::character varying])::text[]))),
    CONSTRAINT lifecycle_rules_from_state_check CHECK (((from_state)::text = ANY ((ARRAY['CREATED'::character varying, 'VALIDATED'::character varying, 'BOOKED'::character varying, 'PRICED'::character varying, 'CONFIRMED'::character varying, 'DELIVERED'::character varying, 'INVOICED'::character varying, 'SETTLED'::character varying, 'CANCELLED'::character varying, 'AMENDED'::character varying, 'PENDING_APPROVAL'::character varying, 'REJECTED'::character varying, 'APPROVED'::character varying])::text[]))),
    CONSTRAINT lifecycle_rules_from_status_check CHECK (((from_status)::text = ANY ((ARRAY['CREATED'::character varying, 'VALIDATED'::character varying, 'BOOKED'::character varying, 'PRICED'::character varying, 'CONFIRMED'::character varying, 'DELIVERED'::character varying, 'INVOICED'::character varying, 'SETTLED'::character varying, 'CANCELLED'::character varying, 'AMENDED'::character varying, 'PENDING_APPROVAL'::character varying, 'REJECTED'::character varying, 'APPROVED'::character varying])::text[]))),
    CONSTRAINT lifecycle_rules_to_state_check CHECK (((to_state)::text = ANY ((ARRAY['CREATED'::character varying, 'VALIDATED'::character varying, 'BOOKED'::character varying, 'PRICED'::character varying, 'CONFIRMED'::character varying, 'DELIVERED'::character varying, 'INVOICED'::character varying, 'SETTLED'::character varying, 'CANCELLED'::character varying, 'AMENDED'::character varying, 'PENDING_APPROVAL'::character varying, 'REJECTED'::character varying, 'APPROVED'::character varying])::text[]))),
    CONSTRAINT lifecycle_rules_to_status_check CHECK (((to_status)::text = ANY ((ARRAY['CREATED'::character varying, 'VALIDATED'::character varying, 'BOOKED'::character varying, 'PRICED'::character varying, 'CONFIRMED'::character varying, 'DELIVERED'::character varying, 'INVOICED'::character varying, 'SETTLED'::character varying, 'CANCELLED'::character varying, 'AMENDED'::character varying, 'PENDING_APPROVAL'::character varying, 'REJECTED'::character varying, 'APPROVED'::character varying])::text[])))
);


ALTER TABLE ctrm.lifecycle_rules OWNER TO ctrm_user;

--
-- Name: lifecycle_rules_id_seq; Type: SEQUENCE; Schema: ctrm; Owner: ctrm_user
--

CREATE SEQUENCE ctrm.lifecycle_rules_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE ctrm.lifecycle_rules_id_seq OWNER TO ctrm_user;

--
-- Name: lifecycle_rules_id_seq; Type: SEQUENCE OWNED BY; Schema: ctrm; Owner: ctrm_user
--

ALTER SEQUENCE ctrm.lifecycle_rules_id_seq OWNED BY ctrm.lifecycle_rules.id;


--
-- Name: market_curve; Type: TABLE; Schema: ctrm; Owner: ctrm_user
--

CREATE TABLE ctrm.market_curve (
    curve_id bigint NOT NULL,
    commodity character varying(50),
    currency character varying(3),
    curve_name character varying(100) NOT NULL,
    curve_type character varying(30) NOT NULL,
    pricing_date date NOT NULL,
    source character varying(50)
);


ALTER TABLE ctrm.market_curve OWNER TO ctrm_user;

--
-- Name: market_curve_curve_id_seq; Type: SEQUENCE; Schema: ctrm; Owner: ctrm_user
--

CREATE SEQUENCE ctrm.market_curve_curve_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE ctrm.market_curve_curve_id_seq OWNER TO ctrm_user;

--
-- Name: market_curve_curve_id_seq; Type: SEQUENCE OWNED BY; Schema: ctrm; Owner: ctrm_user
--

ALTER SEQUENCE ctrm.market_curve_curve_id_seq OWNED BY ctrm.market_curve.curve_id;


--
-- Name: market_curve_point; Type: TABLE; Schema: ctrm; Owner: ctrm_user
--

CREATE TABLE ctrm.market_curve_point (
    point_id bigint NOT NULL,
    price_value numeric(20,6) NOT NULL,
    tenor_date date NOT NULL,
    tenor_label character varying(20),
    curve_id bigint NOT NULL
);


ALTER TABLE ctrm.market_curve_point OWNER TO ctrm_user;

--
-- Name: market_curve_point_point_id_seq; Type: SEQUENCE; Schema: ctrm; Owner: ctrm_user
--

CREATE SEQUENCE ctrm.market_curve_point_point_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE ctrm.market_curve_point_point_id_seq OWNER TO ctrm_user;

--
-- Name: market_curve_point_point_id_seq; Type: SEQUENCE OWNED BY; Schema: ctrm; Owner: ctrm_user
--

ALTER SEQUENCE ctrm.market_curve_point_point_id_seq OWNED BY ctrm.market_curve_point.point_id;


--
-- Name: market_prices; Type: TABLE; Schema: ctrm; Owner: ctrm_user
--

CREATE TABLE ctrm.market_prices (
    id bigint NOT NULL,
    instrument_code character varying(255) NOT NULL,
    price numeric(38,2) NOT NULL
);


ALTER TABLE ctrm.market_prices OWNER TO ctrm_user;

--
-- Name: market_prices_id_seq; Type: SEQUENCE; Schema: ctrm; Owner: ctrm_user
--

CREATE SEQUENCE ctrm.market_prices_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE ctrm.market_prices_id_seq OWNER TO ctrm_user;

--
-- Name: market_prices_id_seq; Type: SEQUENCE OWNED BY; Schema: ctrm; Owner: ctrm_user
--

ALTER SEQUENCE ctrm.market_prices_id_seq OWNED BY ctrm.market_prices.id;


--
-- Name: pnl_explain; Type: TABLE; Schema: ctrm; Owner: ctrm_user
--

CREATE TABLE ctrm.pnl_explain (
    explain_id bigint NOT NULL,
    created_at timestamp(6) without time zone,
    pnl_carry numeric(20,6),
    pnl_curve_move numeric(20,6),
    pnl_date date NOT NULL,
    pnl_fx_impact numeric(20,6),
    pnl_new_trades numeric(20,6),
    pnl_spot_move numeric(20,6),
    pnl_time_decay numeric(20,6),
    pnl_vol_move numeric(20,6),
    total_pnl numeric(20,6) NOT NULL,
    trade_id bigint NOT NULL,
    unexplained numeric(20,6),
    valuation_t0 bigint,
    valuation_t1 bigint
);


ALTER TABLE ctrm.pnl_explain OWNER TO ctrm_user;

--
-- Name: pnl_explain_explain_id_seq; Type: SEQUENCE; Schema: ctrm; Owner: ctrm_user
--

CREATE SEQUENCE ctrm.pnl_explain_explain_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE ctrm.pnl_explain_explain_id_seq OWNER TO ctrm_user;

--
-- Name: pnl_explain_explain_id_seq; Type: SEQUENCE OWNED BY; Schema: ctrm; Owner: ctrm_user
--

ALTER SEQUENCE ctrm.pnl_explain_explain_id_seq OWNED BY ctrm.pnl_explain.explain_id;


--
-- Name: portfolio_positions; Type: TABLE; Schema: ctrm; Owner: ctrm_user
--

CREATE TABLE ctrm.portfolio_positions (
    id bigint NOT NULL,
    net_quantity numeric(38,2) NOT NULL,
    portfolio character varying(255) NOT NULL,
    instrument_id bigint NOT NULL
);


ALTER TABLE ctrm.portfolio_positions OWNER TO ctrm_user;

--
-- Name: portfolio_positions_id_seq; Type: SEQUENCE; Schema: ctrm; Owner: ctrm_user
--

CREATE SEQUENCE ctrm.portfolio_positions_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE ctrm.portfolio_positions_id_seq OWNER TO ctrm_user;

--
-- Name: portfolio_positions_id_seq; Type: SEQUENCE OWNED BY; Schema: ctrm; Owner: ctrm_user
--

ALTER SEQUENCE ctrm.portfolio_positions_id_seq OWNED BY ctrm.portfolio_positions.id;


--
-- Name: portfolios; Type: TABLE; Schema: ctrm; Owner: ctrm_user
--

CREATE TABLE ctrm.portfolios (
    id bigint NOT NULL,
    active boolean,
    description character varying(255),
    name character varying(255) NOT NULL,
    risk_owner character varying(255)
);


ALTER TABLE ctrm.portfolios OWNER TO ctrm_user;

--
-- Name: portfolios_id_seq; Type: SEQUENCE; Schema: ctrm; Owner: ctrm_user
--

CREATE SEQUENCE ctrm.portfolios_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE ctrm.portfolios_id_seq OWNER TO ctrm_user;

--
-- Name: portfolios_id_seq; Type: SEQUENCE OWNED BY; Schema: ctrm; Owner: ctrm_user
--

ALTER SEQUENCE ctrm.portfolios_id_seq OWNED BY ctrm.portfolios.id;


--
-- Name: position; Type: TABLE; Schema: ctrm; Owner: ctrm_user
--

CREATE TABLE ctrm."position" (
    position_id bigint NOT NULL,
    commodity character varying(50) NOT NULL,
    delivery_end date,
    delivery_start date,
    delta numeric(20,6),
    gamma numeric(20,6),
    last_updated timestamp(6) without time zone,
    long_mtm numeric(20,6),
    long_quantity numeric(20,6),
    net_mtm numeric(20,6),
    net_quantity numeric(20,6),
    portfolio character varying(50) NOT NULL,
    position_date date NOT NULL,
    short_mtm numeric(20,6),
    short_quantity numeric(20,6),
    trade_count integer,
    vega numeric(20,6)
);


ALTER TABLE ctrm."position" OWNER TO ctrm_user;

--
-- Name: position_position_id_seq; Type: SEQUENCE; Schema: ctrm; Owner: ctrm_user
--

CREATE SEQUENCE ctrm.position_position_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE ctrm.position_position_id_seq OWNER TO ctrm_user;

--
-- Name: position_position_id_seq; Type: SEQUENCE OWNED BY; Schema: ctrm; Owner: ctrm_user
--

ALTER SEQUENCE ctrm.position_position_id_seq OWNED BY ctrm."position".position_id;


--
-- Name: power_forward_instrument; Type: TABLE; Schema: ctrm; Owner: ctrm_user
--

CREATE TABLE ctrm.power_forward_instrument (
    end_date date,
    start_date date,
    id bigint NOT NULL
);


ALTER TABLE ctrm.power_forward_instrument OWNER TO ctrm_user;

--
-- Name: price_curve; Type: TABLE; Schema: ctrm; Owner: ctrm_user
--

CREATE TABLE ctrm.price_curve (
    id bigint NOT NULL,
    curve_name character varying(255),
    date date,
    price double precision
);


ALTER TABLE ctrm.price_curve OWNER TO ctrm_user;

--
-- Name: price_curve_id_seq; Type: SEQUENCE; Schema: ctrm; Owner: ctrm_user
--

CREATE SEQUENCE ctrm.price_curve_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE ctrm.price_curve_id_seq OWNER TO ctrm_user;

--
-- Name: price_curve_id_seq; Type: SEQUENCE OWNED BY; Schema: ctrm; Owner: ctrm_user
--

ALTER SEQUENCE ctrm.price_curve_id_seq OWNED BY ctrm.price_curve.id;


--
-- Name: renewableppainstrument; Type: TABLE; Schema: ctrm; Owner: ctrm_user
--

CREATE TABLE ctrm.renewableppainstrument (
    forecast_curve character varying(255),
    settlement_type character varying(255),
    technology character varying(255),
    id bigint NOT NULL
);


ALTER TABLE ctrm.renewableppainstrument OWNER TO ctrm_user;

--
-- Name: risk_limit; Type: TABLE; Schema: ctrm; Owner: ctrm_user
--

CREATE TABLE ctrm.risk_limit (
    limit_id bigint NOT NULL,
    active boolean NOT NULL,
    breach_action character varying(30),
    created_at timestamp(6) without time zone,
    created_by character varying(50),
    last_modified_at timestamp(6) without time zone,
    last_modified_by character varying(50),
    limit_name character varying(100) NOT NULL,
    limit_scope character varying(30) NOT NULL,
    limit_type character varying(30) NOT NULL,
    limit_unit character varying(20),
    limit_value numeric(20,6),
    scope_value character varying(100),
    warning_threshold numeric(20,6)
);


ALTER TABLE ctrm.risk_limit OWNER TO ctrm_user;

--
-- Name: risk_limit_breach; Type: TABLE; Schema: ctrm; Owner: ctrm_user
--

CREATE TABLE ctrm.risk_limit_breach (
    breach_id bigint NOT NULL,
    breach_amount numeric(20,6),
    breach_date timestamp(6) without time zone NOT NULL,
    breach_percent numeric(10,6),
    breach_status character varying(20),
    current_value numeric(20,6),
    limit_id bigint NOT NULL,
    limit_value numeric(20,6),
    resolution_notes text,
    resolved_at timestamp(6) without time zone,
    resolved_by character varying(50),
    severity character varying(20)
);


ALTER TABLE ctrm.risk_limit_breach OWNER TO ctrm_user;

--
-- Name: risk_limit_breach_breach_id_seq; Type: SEQUENCE; Schema: ctrm; Owner: ctrm_user
--

CREATE SEQUENCE ctrm.risk_limit_breach_breach_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE ctrm.risk_limit_breach_breach_id_seq OWNER TO ctrm_user;

--
-- Name: risk_limit_breach_breach_id_seq; Type: SEQUENCE OWNED BY; Schema: ctrm; Owner: ctrm_user
--

ALTER SEQUENCE ctrm.risk_limit_breach_breach_id_seq OWNED BY ctrm.risk_limit_breach.breach_id;


--
-- Name: risk_limit_limit_id_seq; Type: SEQUENCE; Schema: ctrm; Owner: ctrm_user
--

CREATE SEQUENCE ctrm.risk_limit_limit_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE ctrm.risk_limit_limit_id_seq OWNER TO ctrm_user;

--
-- Name: risk_limit_limit_id_seq; Type: SEQUENCE OWNED BY; Schema: ctrm; Owner: ctrm_user
--

ALTER SEQUENCE ctrm.risk_limit_limit_id_seq OWNED BY ctrm.risk_limit.limit_id;


--
-- Name: roles; Type: TABLE; Schema: ctrm; Owner: ctrm_user
--

CREATE TABLE ctrm.roles (
    role_id bigint NOT NULL,
    active boolean,
    created_at timestamp(6) without time zone,
    description text,
    display_name character varying(100) NOT NULL,
    role_name character varying(50) NOT NULL
);


ALTER TABLE ctrm.roles OWNER TO ctrm_user;

--
-- Name: roles_role_id_seq; Type: SEQUENCE; Schema: ctrm; Owner: ctrm_user
--

CREATE SEQUENCE ctrm.roles_role_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE ctrm.roles_role_id_seq OWNER TO ctrm_user;

--
-- Name: roles_role_id_seq; Type: SEQUENCE OWNED BY; Schema: ctrm; Owner: ctrm_user
--

ALTER SEQUENCE ctrm.roles_role_id_seq OWNED BY ctrm.roles.role_id;


--
-- Name: scenario_result; Type: TABLE; Schema: ctrm; Owner: ctrm_user
--

CREATE TABLE ctrm.scenario_result (
    result_id bigint NOT NULL,
    base_mtm numeric(20,6),
    created_at timestamp(6) without time zone,
    pnl_impact numeric(20,6),
    pnl_impact_pct numeric(10,6),
    scenario_id bigint NOT NULL,
    scenario_mtm numeric(20,6),
    trade_id bigint NOT NULL
);


ALTER TABLE ctrm.scenario_result OWNER TO ctrm_user;

--
-- Name: scenario_result_result_id_seq; Type: SEQUENCE; Schema: ctrm; Owner: ctrm_user
--

CREATE SEQUENCE ctrm.scenario_result_result_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE ctrm.scenario_result_result_id_seq OWNER TO ctrm_user;

--
-- Name: scenario_result_result_id_seq; Type: SEQUENCE OWNED BY; Schema: ctrm; Owner: ctrm_user
--

ALTER SEQUENCE ctrm.scenario_result_result_id_seq OWNED BY ctrm.scenario_result.result_id;


--
-- Name: trade_events; Type: TABLE; Schema: ctrm; Owner: ctrm_user
--

CREATE TABLE ctrm.trade_events (
    id bigint NOT NULL,
    created_at timestamp(6) without time zone NOT NULL,
    event_type character varying(255) NOT NULL,
    source character varying(255) NOT NULL,
    triggered_by character varying(255) NOT NULL,
    trade_id bigint NOT NULL,
    CONSTRAINT trade_events_event_type_check CHECK (((event_type)::text = ANY ((ARRAY['CREATED'::character varying, 'AMENDED'::character varying, 'PRICED'::character varying, 'DELIVERED'::character varying, 'INVOICED'::character varying, 'SETTLED'::character varying, 'CANCELLED'::character varying, 'REJECTED'::character varying, 'APPROVED'::character varying])::text[])))
);


ALTER TABLE ctrm.trade_events OWNER TO ctrm_user;

--
-- Name: trade_events_id_seq; Type: SEQUENCE; Schema: ctrm; Owner: ctrm_user
--

CREATE SEQUENCE ctrm.trade_events_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE ctrm.trade_events_id_seq OWNER TO ctrm_user;

--
-- Name: trade_events_id_seq; Type: SEQUENCE OWNED BY; Schema: ctrm; Owner: ctrm_user
--

ALTER SEQUENCE ctrm.trade_events_id_seq OWNED BY ctrm.trade_events.id;


--
-- Name: trade_legs; Type: TABLE; Schema: ctrm; Owner: ctrm_user
--

CREATE TABLE ctrm.trade_legs (
    id bigint NOT NULL,
    buy_sell character varying(255) NOT NULL,
    created_at timestamp(6) without time zone,
    delivery_date date,
    leg_number integer NOT NULL,
    mtm numeric(19,4),
    price numeric(19,4) NOT NULL,
    quantity numeric(19,4) NOT NULL,
    ratio numeric(10,4),
    trade_id character varying(255) NOT NULL,
    instrument_id bigint NOT NULL,
    CONSTRAINT trade_legs_buy_sell_check CHECK (((buy_sell)::text = ANY ((ARRAY['BUY'::character varying, 'SELL'::character varying])::text[])))
);


ALTER TABLE ctrm.trade_legs OWNER TO ctrm_user;

--
-- Name: trade_legs_id_seq; Type: SEQUENCE; Schema: ctrm; Owner: ctrm_user
--

CREATE SEQUENCE ctrm.trade_legs_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE ctrm.trade_legs_id_seq OWNER TO ctrm_user;

--
-- Name: trade_legs_id_seq; Type: SEQUENCE OWNED BY; Schema: ctrm; Owner: ctrm_user
--

ALTER SEQUENCE ctrm.trade_legs_id_seq OWNED BY ctrm.trade_legs.id;


--
-- Name: trade_lifecycle_rules; Type: TABLE; Schema: ctrm; Owner: ctrm_user
--

CREATE TABLE ctrm.trade_lifecycle_rules (
    id bigint NOT NULL,
    auto boolean NOT NULL,
    current_status character varying(255) NOT NULL,
    event_type character varying(255) NOT NULL,
    max_occurrence integer NOT NULL,
    next_status character varying(255) NOT NULL,
    requires_approval boolean NOT NULL,
    CONSTRAINT trade_lifecycle_rules_current_status_check CHECK (((current_status)::text = ANY ((ARRAY['CREATED'::character varying, 'VALIDATED'::character varying, 'BOOKED'::character varying, 'PRICED'::character varying, 'CONFIRMED'::character varying, 'DELIVERED'::character varying, 'INVOICED'::character varying, 'SETTLED'::character varying, 'CANCELLED'::character varying, 'AMENDED'::character varying, 'PENDING_APPROVAL'::character varying, 'REJECTED'::character varying, 'APPROVED'::character varying])::text[]))),
    CONSTRAINT trade_lifecycle_rules_event_type_check CHECK (((event_type)::text = ANY ((ARRAY['CREATED'::character varying, 'AMENDED'::character varying, 'PRICED'::character varying, 'DELIVERED'::character varying, 'INVOICED'::character varying, 'SETTLED'::character varying, 'CANCELLED'::character varying, 'REJECTED'::character varying, 'APPROVED'::character varying])::text[]))),
    CONSTRAINT trade_lifecycle_rules_next_status_check CHECK (((next_status)::text = ANY ((ARRAY['CREATED'::character varying, 'VALIDATED'::character varying, 'BOOKED'::character varying, 'PRICED'::character varying, 'CONFIRMED'::character varying, 'DELIVERED'::character varying, 'INVOICED'::character varying, 'SETTLED'::character varying, 'CANCELLED'::character varying, 'AMENDED'::character varying, 'PENDING_APPROVAL'::character varying, 'REJECTED'::character varying, 'APPROVED'::character varying])::text[])))
);


ALTER TABLE ctrm.trade_lifecycle_rules OWNER TO ctrm_user;

--
-- Name: trade_lifecycle_rules_id_seq; Type: SEQUENCE; Schema: ctrm; Owner: ctrm_user
--

CREATE SEQUENCE ctrm.trade_lifecycle_rules_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE ctrm.trade_lifecycle_rules_id_seq OWNER TO ctrm_user;

--
-- Name: trade_lifecycle_rules_id_seq; Type: SEQUENCE OWNED BY; Schema: ctrm; Owner: ctrm_user
--

ALTER SEQUENCE ctrm.trade_lifecycle_rules_id_seq OWNED BY ctrm.trade_lifecycle_rules.id;


--
-- Name: trade_version; Type: TABLE; Schema: ctrm; Owner: ctrm_user
--

CREATE TABLE ctrm.trade_version (
    version_id bigint NOT NULL,
    amended_at timestamp(6) without time zone NOT NULL,
    amended_by character varying(50),
    amendment_reason character varying(500),
    approval_id bigint,
    change_description text,
    change_diff text,
    trade_id bigint NOT NULL,
    trade_snapshot text NOT NULL,
    version_number integer NOT NULL,
    version_type character varying(30) NOT NULL
);


ALTER TABLE ctrm.trade_version OWNER TO ctrm_user;

--
-- Name: trade_version_version_id_seq; Type: SEQUENCE; Schema: ctrm; Owner: ctrm_user
--

CREATE SEQUENCE ctrm.trade_version_version_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE ctrm.trade_version_version_id_seq OWNER TO ctrm_user;

--
-- Name: trade_version_version_id_seq; Type: SEQUENCE OWNED BY; Schema: ctrm; Owner: ctrm_user
--

ALTER SEQUENCE ctrm.trade_version_version_id_seq OWNED BY ctrm.trade_version.version_id;


--
-- Name: trades; Type: TABLE; Schema: ctrm; Owner: ctrm_user
--

CREATE TABLE ctrm.trades (
    id bigint NOT NULL,
    buy_sell character varying(255) NOT NULL,
    counterparty character varying(255) NOT NULL,
    created_at timestamp(6) without time zone NOT NULL,
    created_by character varying(255),
    current_approval_level integer,
    is_multi_leg boolean,
    matched_rule_id bigint,
    mtm numeric(38,2),
    pending_approval_role character varying(255),
    portfolio character varying(255) NOT NULL,
    price numeric(38,2) NOT NULL,
    quantity numeric(38,2) NOT NULL,
    status character varying(255) NOT NULL,
    strategy_type character varying(255),
    template_id bigint,
    trade_date date,
    trade_id character varying(255) NOT NULL,
    updated_at timestamp(6) without time zone NOT NULL,
    instrument_id bigint NOT NULL,
    CONSTRAINT trades_buy_sell_check CHECK (((buy_sell)::text = ANY ((ARRAY['BUY'::character varying, 'SELL'::character varying])::text[]))),
    CONSTRAINT trades_status_check CHECK (((status)::text = ANY ((ARRAY['CREATED'::character varying, 'VALIDATED'::character varying, 'BOOKED'::character varying, 'PRICED'::character varying, 'CONFIRMED'::character varying, 'DELIVERED'::character varying, 'INVOICED'::character varying, 'SETTLED'::character varying, 'CANCELLED'::character varying, 'AMENDED'::character varying, 'PENDING_APPROVAL'::character varying, 'REJECTED'::character varying, 'APPROVED'::character varying])::text[]))),
    CONSTRAINT trades_strategy_type_check CHECK (((strategy_type)::text = ANY ((ARRAY['OUTRIGHT'::character varying, 'CALENDAR_SPREAD'::character varying, 'INTER_COMMODITY'::character varying, 'LOCATION_SPREAD'::character varying, 'BUTTERFLY'::character varying, 'CONDOR'::character varying, 'CRACK_SPREAD'::character varying, 'STRADDLE'::character varying, 'STRANGLE'::character varying, 'BULL_CALL_SPREAD'::character varying, 'BEAR_PUT_SPREAD'::character varying, 'IRON_CONDOR'::character varying, 'CUSTOM'::character varying])::text[])))
);


ALTER TABLE ctrm.trades OWNER TO ctrm_user;

--
-- Name: trades_id_seq; Type: SEQUENCE; Schema: ctrm; Owner: ctrm_user
--

CREATE SEQUENCE ctrm.trades_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE ctrm.trades_id_seq OWNER TO ctrm_user;

--
-- Name: trades_id_seq; Type: SEQUENCE OWNED BY; Schema: ctrm; Owner: ctrm_user
--

ALTER SEQUENCE ctrm.trades_id_seq OWNED BY ctrm.trades.id;


--
-- Name: users; Type: TABLE; Schema: ctrm; Owner: ctrm_user
--

CREATE TABLE ctrm.users (
    user_id bigint NOT NULL,
    active boolean,
    created_at timestamp(6) without time zone,
    email character varying(255),
    full_name character varying(255),
    password_hash character varying(255) NOT NULL,
    role character varying(255) NOT NULL,
    updated_at timestamp(6) without time zone,
    username character varying(255) NOT NULL,
    CONSTRAINT users_role_check CHECK (((role)::text = ANY ((ARRAY['RISK'::character varying, 'SENIOR_TRADER'::character varying, 'HEAD_TRADER'::character varying, 'COMPLIANCE'::character varying, 'CFO'::character varying, 'ADMIN'::character varying])::text[])))
);


ALTER TABLE ctrm.users OWNER TO ctrm_user;

--
-- Name: users_user_id_seq; Type: SEQUENCE; Schema: ctrm; Owner: ctrm_user
--

CREATE SEQUENCE ctrm.users_user_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE ctrm.users_user_id_seq OWNER TO ctrm_user;

--
-- Name: users_user_id_seq; Type: SEQUENCE OWNED BY; Schema: ctrm; Owner: ctrm_user
--

ALTER SEQUENCE ctrm.users_user_id_seq OWNED BY ctrm.users.user_id;


--
-- Name: valuation_history; Type: TABLE; Schema: ctrm; Owner: ctrm_user
--

CREATE TABLE ctrm.valuation_history (
    id bigint NOT NULL,
    mtm numeric(38,2),
    valuation_date date,
    trade_id bigint NOT NULL
);


ALTER TABLE ctrm.valuation_history OWNER TO ctrm_user;

--
-- Name: valuation_history_id_seq; Type: SEQUENCE; Schema: ctrm; Owner: ctrm_user
--

CREATE SEQUENCE ctrm.valuation_history_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE ctrm.valuation_history_id_seq OWNER TO ctrm_user;

--
-- Name: valuation_history_id_seq; Type: SEQUENCE OWNED BY; Schema: ctrm; Owner: ctrm_user
--

ALTER SEQUENCE ctrm.valuation_history_id_seq OWNED BY ctrm.valuation_history.id;


--
-- Name: valuation_result; Type: TABLE; Schema: ctrm; Owner: ctrm_user
--

CREATE TABLE ctrm.valuation_result (
    result_id bigint NOT NULL,
    calc_duration_ms integer,
    calc_timestamp timestamp(6) without time zone,
    delta numeric(20,6),
    gamma numeric(20,6),
    market_context jsonb,
    mtm_forward numeric(20,6),
    mtm_spot numeric(20,6),
    mtm_time_value numeric(20,6),
    mtm_total numeric(20,6),
    pricing_context jsonb,
    pricing_date date NOT NULL,
    pricing_model character varying(50),
    rho numeric(20,6),
    risk_context jsonb,
    stress_test_result numeric(20,6),
    theta numeric(20,6),
    trade_id bigint NOT NULL,
    valuation_run_id bigint,
    var_1day numeric(20,6),
    vega numeric(20,6),
    warnings text[]
);


ALTER TABLE ctrm.valuation_result OWNER TO ctrm_user;

--
-- Name: valuation_result_result_id_seq; Type: SEQUENCE; Schema: ctrm; Owner: ctrm_user
--

CREATE SEQUENCE ctrm.valuation_result_result_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE ctrm.valuation_result_result_id_seq OWNER TO ctrm_user;

--
-- Name: valuation_result_result_id_seq; Type: SEQUENCE OWNED BY; Schema: ctrm; Owner: ctrm_user
--

ALTER SEQUENCE ctrm.valuation_result_result_id_seq OWNED BY ctrm.valuation_result.result_id;


--
-- Name: valuation_run; Type: TABLE; Schema: ctrm; Owner: ctrm_user
--

CREATE TABLE ctrm.valuation_run (
    run_id bigint NOT NULL,
    completed_at timestamp(6) without time zone,
    failed_count integer,
    portfolio_filter character varying(100),
    run_name character varying(100),
    started_at timestamp(6) without time zone,
    started_by character varying(50),
    status character varying(20) NOT NULL,
    successful_count integer,
    total_trades integer,
    valuation_date date NOT NULL
);


ALTER TABLE ctrm.valuation_run OWNER TO ctrm_user;

--
-- Name: valuation_run_run_id_seq; Type: SEQUENCE; Schema: ctrm; Owner: ctrm_user
--

CREATE SEQUENCE ctrm.valuation_run_run_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE ctrm.valuation_run_run_id_seq OWNER TO ctrm_user;

--
-- Name: valuation_run_run_id_seq; Type: SEQUENCE OWNED BY; Schema: ctrm; Owner: ctrm_user
--

ALTER SEQUENCE ctrm.valuation_run_run_id_seq OWNED BY ctrm.valuation_run.run_id;


--
-- Name: valuation_scenario; Type: TABLE; Schema: ctrm; Owner: ctrm_user
--

CREATE TABLE ctrm.valuation_scenario (
    scenario_id bigint NOT NULL,
    base_date date NOT NULL,
    created_at timestamp(6) without time zone,
    created_by character varying(50),
    description character varying(500),
    parameters text,
    scenario_name character varying(100) NOT NULL,
    scenario_type character varying(30) NOT NULL
);


ALTER TABLE ctrm.valuation_scenario OWNER TO ctrm_user;

--
-- Name: valuation_scenario_scenario_id_seq; Type: SEQUENCE; Schema: ctrm; Owner: ctrm_user
--

CREATE SEQUENCE ctrm.valuation_scenario_scenario_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE ctrm.valuation_scenario_scenario_id_seq OWNER TO ctrm_user;

--
-- Name: valuation_scenario_scenario_id_seq; Type: SEQUENCE OWNED BY; Schema: ctrm; Owner: ctrm_user
--

ALTER SEQUENCE ctrm.valuation_scenario_scenario_id_seq OWNED BY ctrm.valuation_scenario.scenario_id;


--
-- Name: volatility_point; Type: TABLE; Schema: ctrm; Owner: ctrm_user
--

CREATE TABLE ctrm.volatility_point (
    point_id bigint NOT NULL,
    expiry_date date,
    implied_vol numeric(10,6) NOT NULL,
    strike numeric(20,6),
    surface_id bigint NOT NULL
);


ALTER TABLE ctrm.volatility_point OWNER TO ctrm_user;

--
-- Name: volatility_point_point_id_seq; Type: SEQUENCE; Schema: ctrm; Owner: ctrm_user
--

CREATE SEQUENCE ctrm.volatility_point_point_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE ctrm.volatility_point_point_id_seq OWNER TO ctrm_user;

--
-- Name: volatility_point_point_id_seq; Type: SEQUENCE OWNED BY; Schema: ctrm; Owner: ctrm_user
--

ALTER SEQUENCE ctrm.volatility_point_point_id_seq OWNED BY ctrm.volatility_point.point_id;


--
-- Name: volatility_surface; Type: TABLE; Schema: ctrm; Owner: ctrm_user
--

CREATE TABLE ctrm.volatility_surface (
    surface_id bigint NOT NULL,
    created_at timestamp(6) without time zone,
    currency character varying(3),
    pricing_date date NOT NULL,
    surface_name character varying(100) NOT NULL,
    surface_type character varying(30) NOT NULL,
    underlying character varying(50) NOT NULL
);


ALTER TABLE ctrm.volatility_surface OWNER TO ctrm_user;

--
-- Name: volatility_surface_surface_id_seq; Type: SEQUENCE; Schema: ctrm; Owner: ctrm_user
--

CREATE SEQUENCE ctrm.volatility_surface_surface_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE ctrm.volatility_surface_surface_id_seq OWNER TO ctrm_user;

--
-- Name: volatility_surface_surface_id_seq; Type: SEQUENCE OWNED BY; Schema: ctrm; Owner: ctrm_user
--

ALTER SEQUENCE ctrm.volatility_surface_surface_id_seq OWNED BY ctrm.volatility_surface.surface_id;


--
-- Name: weather_data; Type: TABLE; Schema: ctrm; Owner: ctrm_user
--

CREATE TABLE ctrm.weather_data (
    id bigint NOT NULL,
    date date,
    location character varying(255),
    precipitation double precision,
    temperature double precision
);


ALTER TABLE ctrm.weather_data OWNER TO ctrm_user;

--
-- Name: weather_data_id_seq; Type: SEQUENCE; Schema: ctrm; Owner: ctrm_user
--

CREATE SEQUENCE ctrm.weather_data_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE ctrm.weather_data_id_seq OWNER TO ctrm_user;

--
-- Name: weather_data_id_seq; Type: SEQUENCE OWNED BY; Schema: ctrm; Owner: ctrm_user
--

ALTER SEQUENCE ctrm.weather_data_id_seq OWNED BY ctrm.weather_data.id;


--
-- Name: yield_curve; Type: TABLE; Schema: ctrm; Owner: ctrm_user
--

CREATE TABLE ctrm.yield_curve (
    id bigint NOT NULL,
    curve_name character varying(255),
    date date,
    yield double precision
);


ALTER TABLE ctrm.yield_curve OWNER TO ctrm_user;

--
-- Name: yield_curve_id_seq; Type: SEQUENCE; Schema: ctrm; Owner: ctrm_user
--

CREATE SEQUENCE ctrm.yield_curve_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE ctrm.yield_curve_id_seq OWNER TO ctrm_user;

--
-- Name: yield_curve_id_seq; Type: SEQUENCE OWNED BY; Schema: ctrm; Owner: ctrm_user
--

ALTER SEQUENCE ctrm.yield_curve_id_seq OWNED BY ctrm.yield_curve.id;


--
-- Name: approval_routing routing_id; Type: DEFAULT; Schema: ctrm; Owner: ctrm_user
--

ALTER TABLE ONLY ctrm.approval_routing ALTER COLUMN routing_id SET DEFAULT nextval('ctrm.approval_routing_routing_id_seq'::regclass);


--
-- Name: approval_rule rule_id; Type: DEFAULT; Schema: ctrm; Owner: ctrm_user
--

ALTER TABLE ONLY ctrm.approval_rule ALTER COLUMN rule_id SET DEFAULT nextval('ctrm.approval_rule_rule_id_seq'::regclass);


--
-- Name: approval_rule_condition condition_id; Type: DEFAULT; Schema: ctrm; Owner: ctrm_user
--

ALTER TABLE ONLY ctrm.approval_rule_condition ALTER COLUMN condition_id SET DEFAULT nextval('ctrm.approval_rule_condition_condition_id_seq'::regclass);


--
-- Name: approval_task task_id; Type: DEFAULT; Schema: ctrm; Owner: ctrm_user
--

ALTER TABLE ONLY ctrm.approval_task ALTER COLUMN task_id SET DEFAULT nextval('ctrm.approval_task_task_id_seq'::regclass);


--
-- Name: commodity id; Type: DEFAULT; Schema: ctrm; Owner: ctrm_user
--

ALTER TABLE ONLY ctrm.commodity ALTER COLUMN id SET DEFAULT nextval('ctrm.commodity_id_seq'::regclass);


--
-- Name: counterparties id; Type: DEFAULT; Schema: ctrm; Owner: ctrm_user
--

ALTER TABLE ONLY ctrm.counterparties ALTER COLUMN id SET DEFAULT nextval('ctrm.counterparties_id_seq'::regclass);


--
-- Name: deal_templates id; Type: DEFAULT; Schema: ctrm; Owner: ctrm_user
--

ALTER TABLE ONLY ctrm.deal_templates ALTER COLUMN id SET DEFAULT nextval('ctrm.deal_templates_id_seq'::regclass);


--
-- Name: forward_curve id; Type: DEFAULT; Schema: ctrm; Owner: ctrm_user
--

ALTER TABLE ONLY ctrm.forward_curve ALTER COLUMN id SET DEFAULT nextval('ctrm.forward_curve_id_seq'::regclass);


--
-- Name: generation_forecast id; Type: DEFAULT; Schema: ctrm; Owner: ctrm_user
--

ALTER TABLE ONLY ctrm.generation_forecast ALTER COLUMN id SET DEFAULT nextval('ctrm.generation_forecast_id_seq'::regclass);


--
-- Name: instruments id; Type: DEFAULT; Schema: ctrm; Owner: ctrm_user
--

ALTER TABLE ONLY ctrm.instruments ALTER COLUMN id SET DEFAULT nextval('ctrm.instruments_id_seq'::regclass);


--
-- Name: lifecycle_rules id; Type: DEFAULT; Schema: ctrm; Owner: ctrm_user
--

ALTER TABLE ONLY ctrm.lifecycle_rules ALTER COLUMN id SET DEFAULT nextval('ctrm.lifecycle_rules_id_seq'::regclass);


--
-- Name: market_curve curve_id; Type: DEFAULT; Schema: ctrm; Owner: ctrm_user
--

ALTER TABLE ONLY ctrm.market_curve ALTER COLUMN curve_id SET DEFAULT nextval('ctrm.market_curve_curve_id_seq'::regclass);


--
-- Name: market_curve_point point_id; Type: DEFAULT; Schema: ctrm; Owner: ctrm_user
--

ALTER TABLE ONLY ctrm.market_curve_point ALTER COLUMN point_id SET DEFAULT nextval('ctrm.market_curve_point_point_id_seq'::regclass);


--
-- Name: market_prices id; Type: DEFAULT; Schema: ctrm; Owner: ctrm_user
--

ALTER TABLE ONLY ctrm.market_prices ALTER COLUMN id SET DEFAULT nextval('ctrm.market_prices_id_seq'::regclass);


--
-- Name: pnl_explain explain_id; Type: DEFAULT; Schema: ctrm; Owner: ctrm_user
--

ALTER TABLE ONLY ctrm.pnl_explain ALTER COLUMN explain_id SET DEFAULT nextval('ctrm.pnl_explain_explain_id_seq'::regclass);


--
-- Name: portfolio_positions id; Type: DEFAULT; Schema: ctrm; Owner: ctrm_user
--

ALTER TABLE ONLY ctrm.portfolio_positions ALTER COLUMN id SET DEFAULT nextval('ctrm.portfolio_positions_id_seq'::regclass);


--
-- Name: portfolios id; Type: DEFAULT; Schema: ctrm; Owner: ctrm_user
--

ALTER TABLE ONLY ctrm.portfolios ALTER COLUMN id SET DEFAULT nextval('ctrm.portfolios_id_seq'::regclass);


--
-- Name: position position_id; Type: DEFAULT; Schema: ctrm; Owner: ctrm_user
--

ALTER TABLE ONLY ctrm."position" ALTER COLUMN position_id SET DEFAULT nextval('ctrm.position_position_id_seq'::regclass);


--
-- Name: price_curve id; Type: DEFAULT; Schema: ctrm; Owner: ctrm_user
--

ALTER TABLE ONLY ctrm.price_curve ALTER COLUMN id SET DEFAULT nextval('ctrm.price_curve_id_seq'::regclass);


--
-- Name: risk_limit limit_id; Type: DEFAULT; Schema: ctrm; Owner: ctrm_user
--

ALTER TABLE ONLY ctrm.risk_limit ALTER COLUMN limit_id SET DEFAULT nextval('ctrm.risk_limit_limit_id_seq'::regclass);


--
-- Name: risk_limit_breach breach_id; Type: DEFAULT; Schema: ctrm; Owner: ctrm_user
--

ALTER TABLE ONLY ctrm.risk_limit_breach ALTER COLUMN breach_id SET DEFAULT nextval('ctrm.risk_limit_breach_breach_id_seq'::regclass);


--
-- Name: roles role_id; Type: DEFAULT; Schema: ctrm; Owner: ctrm_user
--

ALTER TABLE ONLY ctrm.roles ALTER COLUMN role_id SET DEFAULT nextval('ctrm.roles_role_id_seq'::regclass);


--
-- Name: scenario_result result_id; Type: DEFAULT; Schema: ctrm; Owner: ctrm_user
--

ALTER TABLE ONLY ctrm.scenario_result ALTER COLUMN result_id SET DEFAULT nextval('ctrm.scenario_result_result_id_seq'::regclass);


--
-- Name: trade_events id; Type: DEFAULT; Schema: ctrm; Owner: ctrm_user
--

ALTER TABLE ONLY ctrm.trade_events ALTER COLUMN id SET DEFAULT nextval('ctrm.trade_events_id_seq'::regclass);


--
-- Name: trade_legs id; Type: DEFAULT; Schema: ctrm; Owner: ctrm_user
--

ALTER TABLE ONLY ctrm.trade_legs ALTER COLUMN id SET DEFAULT nextval('ctrm.trade_legs_id_seq'::regclass);


--
-- Name: trade_lifecycle_rules id; Type: DEFAULT; Schema: ctrm; Owner: ctrm_user
--

ALTER TABLE ONLY ctrm.trade_lifecycle_rules ALTER COLUMN id SET DEFAULT nextval('ctrm.trade_lifecycle_rules_id_seq'::regclass);


--
-- Name: trade_version version_id; Type: DEFAULT; Schema: ctrm; Owner: ctrm_user
--

ALTER TABLE ONLY ctrm.trade_version ALTER COLUMN version_id SET DEFAULT nextval('ctrm.trade_version_version_id_seq'::regclass);


--
-- Name: trades id; Type: DEFAULT; Schema: ctrm; Owner: ctrm_user
--

ALTER TABLE ONLY ctrm.trades ALTER COLUMN id SET DEFAULT nextval('ctrm.trades_id_seq'::regclass);


--
-- Name: users user_id; Type: DEFAULT; Schema: ctrm; Owner: ctrm_user
--

ALTER TABLE ONLY ctrm.users ALTER COLUMN user_id SET DEFAULT nextval('ctrm.users_user_id_seq'::regclass);


--
-- Name: valuation_history id; Type: DEFAULT; Schema: ctrm; Owner: ctrm_user
--

ALTER TABLE ONLY ctrm.valuation_history ALTER COLUMN id SET DEFAULT nextval('ctrm.valuation_history_id_seq'::regclass);


--
-- Name: valuation_result result_id; Type: DEFAULT; Schema: ctrm; Owner: ctrm_user
--

ALTER TABLE ONLY ctrm.valuation_result ALTER COLUMN result_id SET DEFAULT nextval('ctrm.valuation_result_result_id_seq'::regclass);


--
-- Name: valuation_run run_id; Type: DEFAULT; Schema: ctrm; Owner: ctrm_user
--

ALTER TABLE ONLY ctrm.valuation_run ALTER COLUMN run_id SET DEFAULT nextval('ctrm.valuation_run_run_id_seq'::regclass);


--
-- Name: valuation_scenario scenario_id; Type: DEFAULT; Schema: ctrm; Owner: ctrm_user
--

ALTER TABLE ONLY ctrm.valuation_scenario ALTER COLUMN scenario_id SET DEFAULT nextval('ctrm.valuation_scenario_scenario_id_seq'::regclass);


--
-- Name: volatility_point point_id; Type: DEFAULT; Schema: ctrm; Owner: ctrm_user
--

ALTER TABLE ONLY ctrm.volatility_point ALTER COLUMN point_id SET DEFAULT nextval('ctrm.volatility_point_point_id_seq'::regclass);


--
-- Name: volatility_surface surface_id; Type: DEFAULT; Schema: ctrm; Owner: ctrm_user
--

ALTER TABLE ONLY ctrm.volatility_surface ALTER COLUMN surface_id SET DEFAULT nextval('ctrm.volatility_surface_surface_id_seq'::regclass);


--
-- Name: weather_data id; Type: DEFAULT; Schema: ctrm; Owner: ctrm_user
--

ALTER TABLE ONLY ctrm.weather_data ALTER COLUMN id SET DEFAULT nextval('ctrm.weather_data_id_seq'::regclass);


--
-- Name: yield_curve id; Type: DEFAULT; Schema: ctrm; Owner: ctrm_user
--

ALTER TABLE ONLY ctrm.yield_curve ALTER COLUMN id SET DEFAULT nextval('ctrm.yield_curve_id_seq'::regclass);


--
-- Name: approval_routing approval_routing_pkey; Type: CONSTRAINT; Schema: ctrm; Owner: ctrm_user
--

ALTER TABLE ONLY ctrm.approval_routing
    ADD CONSTRAINT approval_routing_pkey PRIMARY KEY (routing_id);


--
-- Name: approval_rule_condition approval_rule_condition_pkey; Type: CONSTRAINT; Schema: ctrm; Owner: ctrm_user
--

ALTER TABLE ONLY ctrm.approval_rule_condition
    ADD CONSTRAINT approval_rule_condition_pkey PRIMARY KEY (condition_id);


--
-- Name: approval_rule approval_rule_pkey; Type: CONSTRAINT; Schema: ctrm; Owner: ctrm_user
--

ALTER TABLE ONLY ctrm.approval_rule
    ADD CONSTRAINT approval_rule_pkey PRIMARY KEY (rule_id);


--
-- Name: approval_task approval_task_pkey; Type: CONSTRAINT; Schema: ctrm; Owner: ctrm_user
--

ALTER TABLE ONLY ctrm.approval_task
    ADD CONSTRAINT approval_task_pkey PRIMARY KEY (task_id);


--
-- Name: commodity_option_instrument commodity_option_instrument_pkey; Type: CONSTRAINT; Schema: ctrm; Owner: ctrm_user
--

ALTER TABLE ONLY ctrm.commodity_option_instrument
    ADD CONSTRAINT commodity_option_instrument_pkey PRIMARY KEY (id);


--
-- Name: commodity commodity_pkey; Type: CONSTRAINT; Schema: ctrm; Owner: ctrm_user
--

ALTER TABLE ONLY ctrm.commodity
    ADD CONSTRAINT commodity_pkey PRIMARY KEY (id);


--
-- Name: commodity_swap_instrument commodity_swap_instrument_pkey; Type: CONSTRAINT; Schema: ctrm; Owner: ctrm_user
--

ALTER TABLE ONLY ctrm.commodity_swap_instrument
    ADD CONSTRAINT commodity_swap_instrument_pkey PRIMARY KEY (id);


--
-- Name: counterparties counterparties_pkey; Type: CONSTRAINT; Schema: ctrm; Owner: ctrm_user
--

ALTER TABLE ONLY ctrm.counterparties
    ADD CONSTRAINT counterparties_pkey PRIMARY KEY (id);


--
-- Name: credit_limit credit_limit_pkey; Type: CONSTRAINT; Schema: ctrm; Owner: ctrm_user
--

ALTER TABLE ONLY ctrm.credit_limit
    ADD CONSTRAINT credit_limit_pkey PRIMARY KEY (id);


--
-- Name: deal_templates deal_templates_pkey; Type: CONSTRAINT; Schema: ctrm; Owner: ctrm_user
--

ALTER TABLE ONLY ctrm.deal_templates
    ADD CONSTRAINT deal_templates_pkey PRIMARY KEY (id);


--
-- Name: forward_curve forward_curve_pkey; Type: CONSTRAINT; Schema: ctrm; Owner: ctrm_user
--

ALTER TABLE ONLY ctrm.forward_curve
    ADD CONSTRAINT forward_curve_pkey PRIMARY KEY (id);


--
-- Name: gas_forward_instrument gas_forward_instrument_pkey; Type: CONSTRAINT; Schema: ctrm; Owner: ctrm_user
--

ALTER TABLE ONLY ctrm.gas_forward_instrument
    ADD CONSTRAINT gas_forward_instrument_pkey PRIMARY KEY (id);


--
-- Name: generation_forecast generation_forecast_pkey; Type: CONSTRAINT; Schema: ctrm; Owner: ctrm_user
--

ALTER TABLE ONLY ctrm.generation_forecast
    ADD CONSTRAINT generation_forecast_pkey PRIMARY KEY (id);


--
-- Name: instruments instruments_pkey; Type: CONSTRAINT; Schema: ctrm; Owner: ctrm_user
--

ALTER TABLE ONLY ctrm.instruments
    ADD CONSTRAINT instruments_pkey PRIMARY KEY (id);


--
-- Name: lifecycle_rules lifecycle_rules_pkey; Type: CONSTRAINT; Schema: ctrm; Owner: ctrm_user
--

ALTER TABLE ONLY ctrm.lifecycle_rules
    ADD CONSTRAINT lifecycle_rules_pkey PRIMARY KEY (id);


--
-- Name: market_curve market_curve_pkey; Type: CONSTRAINT; Schema: ctrm; Owner: ctrm_user
--

ALTER TABLE ONLY ctrm.market_curve
    ADD CONSTRAINT market_curve_pkey PRIMARY KEY (curve_id);


--
-- Name: market_curve_point market_curve_point_pkey; Type: CONSTRAINT; Schema: ctrm; Owner: ctrm_user
--

ALTER TABLE ONLY ctrm.market_curve_point
    ADD CONSTRAINT market_curve_point_pkey PRIMARY KEY (point_id);


--
-- Name: market_prices market_prices_pkey; Type: CONSTRAINT; Schema: ctrm; Owner: ctrm_user
--

ALTER TABLE ONLY ctrm.market_prices
    ADD CONSTRAINT market_prices_pkey PRIMARY KEY (id);


--
-- Name: pnl_explain pnl_explain_pkey; Type: CONSTRAINT; Schema: ctrm; Owner: ctrm_user
--

ALTER TABLE ONLY ctrm.pnl_explain
    ADD CONSTRAINT pnl_explain_pkey PRIMARY KEY (explain_id);


--
-- Name: portfolio_positions portfolio_positions_pkey; Type: CONSTRAINT; Schema: ctrm; Owner: ctrm_user
--

ALTER TABLE ONLY ctrm.portfolio_positions
    ADD CONSTRAINT portfolio_positions_pkey PRIMARY KEY (id);


--
-- Name: portfolios portfolios_pkey; Type: CONSTRAINT; Schema: ctrm; Owner: ctrm_user
--

ALTER TABLE ONLY ctrm.portfolios
    ADD CONSTRAINT portfolios_pkey PRIMARY KEY (id);


--
-- Name: position position_pkey; Type: CONSTRAINT; Schema: ctrm; Owner: ctrm_user
--

ALTER TABLE ONLY ctrm."position"
    ADD CONSTRAINT position_pkey PRIMARY KEY (position_id);


--
-- Name: power_forward_instrument power_forward_instrument_pkey; Type: CONSTRAINT; Schema: ctrm; Owner: ctrm_user
--

ALTER TABLE ONLY ctrm.power_forward_instrument
    ADD CONSTRAINT power_forward_instrument_pkey PRIMARY KEY (id);


--
-- Name: price_curve price_curve_pkey; Type: CONSTRAINT; Schema: ctrm; Owner: ctrm_user
--

ALTER TABLE ONLY ctrm.price_curve
    ADD CONSTRAINT price_curve_pkey PRIMARY KEY (id);


--
-- Name: renewableppainstrument renewableppainstrument_pkey; Type: CONSTRAINT; Schema: ctrm; Owner: ctrm_user
--

ALTER TABLE ONLY ctrm.renewableppainstrument
    ADD CONSTRAINT renewableppainstrument_pkey PRIMARY KEY (id);


--
-- Name: risk_limit_breach risk_limit_breach_pkey; Type: CONSTRAINT; Schema: ctrm; Owner: ctrm_user
--

ALTER TABLE ONLY ctrm.risk_limit_breach
    ADD CONSTRAINT risk_limit_breach_pkey PRIMARY KEY (breach_id);


--
-- Name: risk_limit risk_limit_pkey; Type: CONSTRAINT; Schema: ctrm; Owner: ctrm_user
--

ALTER TABLE ONLY ctrm.risk_limit
    ADD CONSTRAINT risk_limit_pkey PRIMARY KEY (limit_id);


--
-- Name: roles roles_pkey; Type: CONSTRAINT; Schema: ctrm; Owner: ctrm_user
--

ALTER TABLE ONLY ctrm.roles
    ADD CONSTRAINT roles_pkey PRIMARY KEY (role_id);


--
-- Name: scenario_result scenario_result_pkey; Type: CONSTRAINT; Schema: ctrm; Owner: ctrm_user
--

ALTER TABLE ONLY ctrm.scenario_result
    ADD CONSTRAINT scenario_result_pkey PRIMARY KEY (result_id);


--
-- Name: trade_events trade_events_pkey; Type: CONSTRAINT; Schema: ctrm; Owner: ctrm_user
--

ALTER TABLE ONLY ctrm.trade_events
    ADD CONSTRAINT trade_events_pkey PRIMARY KEY (id);


--
-- Name: trade_legs trade_legs_pkey; Type: CONSTRAINT; Schema: ctrm; Owner: ctrm_user
--

ALTER TABLE ONLY ctrm.trade_legs
    ADD CONSTRAINT trade_legs_pkey PRIMARY KEY (id);


--
-- Name: trade_lifecycle_rules trade_lifecycle_rules_pkey; Type: CONSTRAINT; Schema: ctrm; Owner: ctrm_user
--

ALTER TABLE ONLY ctrm.trade_lifecycle_rules
    ADD CONSTRAINT trade_lifecycle_rules_pkey PRIMARY KEY (id);


--
-- Name: trade_version trade_version_pkey; Type: CONSTRAINT; Schema: ctrm; Owner: ctrm_user
--

ALTER TABLE ONLY ctrm.trade_version
    ADD CONSTRAINT trade_version_pkey PRIMARY KEY (version_id);


--
-- Name: trades trades_pkey; Type: CONSTRAINT; Schema: ctrm; Owner: ctrm_user
--

ALTER TABLE ONLY ctrm.trades
    ADD CONSTRAINT trades_pkey PRIMARY KEY (id);


--
-- Name: deal_templates uk_4plhsumsj2hu8fas40no63118; Type: CONSTRAINT; Schema: ctrm; Owner: ctrm_user
--

ALTER TABLE ONLY ctrm.deal_templates
    ADD CONSTRAINT uk_4plhsumsj2hu8fas40no63118 UNIQUE (template_name);


--
-- Name: users uk_6dotkott2kjsp8vw4d0m25fb7; Type: CONSTRAINT; Schema: ctrm; Owner: ctrm_user
--

ALTER TABLE ONLY ctrm.users
    ADD CONSTRAINT uk_6dotkott2kjsp8vw4d0m25fb7 UNIQUE (email);


--
-- Name: roles uk_716hgxp60ym1lifrdgp67xt5k; Type: CONSTRAINT; Schema: ctrm; Owner: ctrm_user
--

ALTER TABLE ONLY ctrm.roles
    ADD CONSTRAINT uk_716hgxp60ym1lifrdgp67xt5k UNIQUE (role_name);


--
-- Name: trades uk_8d1lubanjnkryvjsjpqol15qh; Type: CONSTRAINT; Schema: ctrm; Owner: ctrm_user
--

ALTER TABLE ONLY ctrm.trades
    ADD CONSTRAINT uk_8d1lubanjnkryvjsjpqol15qh UNIQUE (trade_id);


--
-- Name: instruments uk_9sq9cn5em949bxp1nx3x32n7a; Type: CONSTRAINT; Schema: ctrm; Owner: ctrm_user
--

ALTER TABLE ONLY ctrm.instruments
    ADD CONSTRAINT uk_9sq9cn5em949bxp1nx3x32n7a UNIQUE (instrument_code);


--
-- Name: portfolios uk_ecphwf71dv3fipe9up2fpj30q; Type: CONSTRAINT; Schema: ctrm; Owner: ctrm_user
--

ALTER TABLE ONLY ctrm.portfolios
    ADD CONSTRAINT uk_ecphwf71dv3fipe9up2fpj30q UNIQUE (name);


--
-- Name: commodity uk_oo1k686tdqhs875wjekqckprv; Type: CONSTRAINT; Schema: ctrm; Owner: ctrm_user
--

ALTER TABLE ONLY ctrm.commodity
    ADD CONSTRAINT uk_oo1k686tdqhs875wjekqckprv UNIQUE (name);


--
-- Name: users uk_r43af9ap4edm43mmtq01oddj6; Type: CONSTRAINT; Schema: ctrm; Owner: ctrm_user
--

ALTER TABLE ONLY ctrm.users
    ADD CONSTRAINT uk_r43af9ap4edm43mmtq01oddj6 UNIQUE (username);


--
-- Name: counterparties uk_tmhf78babtq0qdm5twwfk8mth; Type: CONSTRAINT; Schema: ctrm; Owner: ctrm_user
--

ALTER TABLE ONLY ctrm.counterparties
    ADD CONSTRAINT uk_tmhf78babtq0qdm5twwfk8mth UNIQUE (name);


--
-- Name: users users_pkey; Type: CONSTRAINT; Schema: ctrm; Owner: ctrm_user
--

ALTER TABLE ONLY ctrm.users
    ADD CONSTRAINT users_pkey PRIMARY KEY (user_id);


--
-- Name: valuation_history valuation_history_pkey; Type: CONSTRAINT; Schema: ctrm; Owner: ctrm_user
--

ALTER TABLE ONLY ctrm.valuation_history
    ADD CONSTRAINT valuation_history_pkey PRIMARY KEY (id);


--
-- Name: valuation_result valuation_result_pkey; Type: CONSTRAINT; Schema: ctrm; Owner: ctrm_user
--

ALTER TABLE ONLY ctrm.valuation_result
    ADD CONSTRAINT valuation_result_pkey PRIMARY KEY (result_id);


--
-- Name: valuation_run valuation_run_pkey; Type: CONSTRAINT; Schema: ctrm; Owner: ctrm_user
--

ALTER TABLE ONLY ctrm.valuation_run
    ADD CONSTRAINT valuation_run_pkey PRIMARY KEY (run_id);


--
-- Name: valuation_scenario valuation_scenario_pkey; Type: CONSTRAINT; Schema: ctrm; Owner: ctrm_user
--

ALTER TABLE ONLY ctrm.valuation_scenario
    ADD CONSTRAINT valuation_scenario_pkey PRIMARY KEY (scenario_id);


--
-- Name: volatility_point volatility_point_pkey; Type: CONSTRAINT; Schema: ctrm; Owner: ctrm_user
--

ALTER TABLE ONLY ctrm.volatility_point
    ADD CONSTRAINT volatility_point_pkey PRIMARY KEY (point_id);


--
-- Name: volatility_surface volatility_surface_pkey; Type: CONSTRAINT; Schema: ctrm; Owner: ctrm_user
--

ALTER TABLE ONLY ctrm.volatility_surface
    ADD CONSTRAINT volatility_surface_pkey PRIMARY KEY (surface_id);


--
-- Name: weather_data weather_data_pkey; Type: CONSTRAINT; Schema: ctrm; Owner: ctrm_user
--

ALTER TABLE ONLY ctrm.weather_data
    ADD CONSTRAINT weather_data_pkey PRIMARY KEY (id);


--
-- Name: yield_curve yield_curve_pkey; Type: CONSTRAINT; Schema: ctrm; Owner: ctrm_user
--

ALTER TABLE ONLY ctrm.yield_curve
    ADD CONSTRAINT yield_curve_pkey PRIMARY KEY (id);


--
-- Name: forward_curve fk2pk29dslg197r7aki0k96jb6j; Type: FK CONSTRAINT; Schema: ctrm; Owner: ctrm_user
--

ALTER TABLE ONLY ctrm.forward_curve
    ADD CONSTRAINT fk2pk29dslg197r7aki0k96jb6j FOREIGN KEY (instrument_id) REFERENCES ctrm.instruments(id);


--
-- Name: trades fk3c9vcemmfh75a99xgrrbxmlq3; Type: FK CONSTRAINT; Schema: ctrm; Owner: ctrm_user
--

ALTER TABLE ONLY ctrm.trades
    ADD CONSTRAINT fk3c9vcemmfh75a99xgrrbxmlq3 FOREIGN KEY (instrument_id) REFERENCES ctrm.instruments(id);


--
-- Name: instruments fk3njsps2p0e8wkdoshr8fd385b; Type: FK CONSTRAINT; Schema: ctrm; Owner: ctrm_user
--

ALTER TABLE ONLY ctrm.instruments
    ADD CONSTRAINT fk3njsps2p0e8wkdoshr8fd385b FOREIGN KEY (commodity_id) REFERENCES ctrm.commodity(id);


--
-- Name: commodity_option_instrument fk4vl8u8rdqbbla0tfqtb8842w2; Type: FK CONSTRAINT; Schema: ctrm; Owner: ctrm_user
--

ALTER TABLE ONLY ctrm.commodity_option_instrument
    ADD CONSTRAINT fk4vl8u8rdqbbla0tfqtb8842w2 FOREIGN KEY (id) REFERENCES ctrm.instruments(id);


--
-- Name: power_forward_instrument fk6y3bbh38u9v1b6odycf1mc3oq; Type: FK CONSTRAINT; Schema: ctrm; Owner: ctrm_user
--

ALTER TABLE ONLY ctrm.power_forward_instrument
    ADD CONSTRAINT fk6y3bbh38u9v1b6odycf1mc3oq FOREIGN KEY (id) REFERENCES ctrm.instruments(id);


--
-- Name: trade_events fkbp134hn7x50b8sv9ll4vnppvq; Type: FK CONSTRAINT; Schema: ctrm; Owner: ctrm_user
--

ALTER TABLE ONLY ctrm.trade_events
    ADD CONSTRAINT fkbp134hn7x50b8sv9ll4vnppvq FOREIGN KEY (trade_id) REFERENCES ctrm.trades(id);


--
-- Name: valuation_history fkc6vsfhj0a0hcf32s4gqjv9fqq; Type: FK CONSTRAINT; Schema: ctrm; Owner: ctrm_user
--

ALTER TABLE ONLY ctrm.valuation_history
    ADD CONSTRAINT fkc6vsfhj0a0hcf32s4gqjv9fqq FOREIGN KEY (trade_id) REFERENCES ctrm.trades(id);


--
-- Name: portfolio_positions fkfw19bqihf380tlqve0vloc4fh; Type: FK CONSTRAINT; Schema: ctrm; Owner: ctrm_user
--

ALTER TABLE ONLY ctrm.portfolio_positions
    ADD CONSTRAINT fkfw19bqihf380tlqve0vloc4fh FOREIGN KEY (instrument_id) REFERENCES ctrm.instruments(id);


--
-- Name: deal_templates fkhl99wvxmea8u9ggxrcv9l89bi; Type: FK CONSTRAINT; Schema: ctrm; Owner: ctrm_user
--

ALTER TABLE ONLY ctrm.deal_templates
    ADD CONSTRAINT fkhl99wvxmea8u9ggxrcv9l89bi FOREIGN KEY (instrument_id) REFERENCES ctrm.instruments(id);


--
-- Name: market_curve_point fkhu7deome77wyyg1eowjsm5thm; Type: FK CONSTRAINT; Schema: ctrm; Owner: ctrm_user
--

ALTER TABLE ONLY ctrm.market_curve_point
    ADD CONSTRAINT fkhu7deome77wyyg1eowjsm5thm FOREIGN KEY (curve_id) REFERENCES ctrm.market_curve(curve_id);


--
-- Name: trade_legs fkique19fxqelxmerx66q8dq80a; Type: FK CONSTRAINT; Schema: ctrm; Owner: ctrm_user
--

ALTER TABLE ONLY ctrm.trade_legs
    ADD CONSTRAINT fkique19fxqelxmerx66q8dq80a FOREIGN KEY (instrument_id) REFERENCES ctrm.instruments(id);


--
-- Name: gas_forward_instrument fkk1d589igro3er7y9cv0tp3lrw; Type: FK CONSTRAINT; Schema: ctrm; Owner: ctrm_user
--

ALTER TABLE ONLY ctrm.gas_forward_instrument
    ADD CONSTRAINT fkk1d589igro3er7y9cv0tp3lrw FOREIGN KEY (id) REFERENCES ctrm.instruments(id);


--
-- Name: approval_routing fklfi3mok1o54u4lbri0htmipbi; Type: FK CONSTRAINT; Schema: ctrm; Owner: ctrm_user
--

ALTER TABLE ONLY ctrm.approval_routing
    ADD CONSTRAINT fklfi3mok1o54u4lbri0htmipbi FOREIGN KEY (rule_id) REFERENCES ctrm.approval_rule(rule_id);


--
-- Name: approval_rule_condition fkp5fu790nwv1t59rmevl6ik387; Type: FK CONSTRAINT; Schema: ctrm; Owner: ctrm_user
--

ALTER TABLE ONLY ctrm.approval_rule_condition
    ADD CONSTRAINT fkp5fu790nwv1t59rmevl6ik387 FOREIGN KEY (rule_id) REFERENCES ctrm.approval_rule(rule_id);


--
-- Name: renewableppainstrument fkpqpstki1m78mgiy6i00m3b16q; Type: FK CONSTRAINT; Schema: ctrm; Owner: ctrm_user
--

ALTER TABLE ONLY ctrm.renewableppainstrument
    ADD CONSTRAINT fkpqpstki1m78mgiy6i00m3b16q FOREIGN KEY (id) REFERENCES ctrm.instruments(id);


--
-- Name: volatility_point fkrfxou0vhfk5y2n1a92f3pneq6; Type: FK CONSTRAINT; Schema: ctrm; Owner: ctrm_user
--

ALTER TABLE ONLY ctrm.volatility_point
    ADD CONSTRAINT fkrfxou0vhfk5y2n1a92f3pneq6 FOREIGN KEY (surface_id) REFERENCES ctrm.volatility_surface(surface_id);


--
-- Name: commodity_swap_instrument fkstyl5oox8jm742wo8x05kduh6; Type: FK CONSTRAINT; Schema: ctrm; Owner: ctrm_user
--

ALTER TABLE ONLY ctrm.commodity_swap_instrument
    ADD CONSTRAINT fkstyl5oox8jm742wo8x05kduh6 FOREIGN KEY (id) REFERENCES ctrm.instruments(id);


--
-- Name: SCHEMA ctrm; Type: ACL; Schema: -; Owner: postgres
--

GRANT ALL ON SCHEMA ctrm TO ctrm_user;


--
-- PostgreSQL database dump complete
--

